# Node
node_modules/

# iOS
ios/Pods/
ios/build/
ios/.xcode.env.local
ios/Podfile.lock
*.xcworkspace

# Android
android/.gradle/
android/build/
android/app/build/

# System
.DS_Store

# Logs
*.log

# Others
vendor/
